/Prototype/Library/*
/Prototype/Library/*.prefs
/Prototype/Library/*.asset
/Prototype/Library/*.dwlt
/Prototype/Library/*.txt
/Prototype/Library/ScriptAssemblies/*.dll
/Prototype/Library/ScriptAssemblies/*.mdb
/Prototype/Library/ScriptAssemblies/*.txt
/Prototype/Library/metadata/00/*
/Prototype/Library/metadata/45/*
/Prototype/Library/metadata/49/*
/Prototype/Library/metadata/50/*
/Prototype/Library/metadata/80/*
/Prototype/Library/metadata/84/*
/Prototype/Library/metadata/89/*
/Prototype/Library/metadata/9d/*
/Prototype/Library/metadata/ae/*
/Prototype/Library/metadata/ca/*
/Prototype/Library/metadata/ec/*
/Prototype/Library/metadata/f5/*
/Prototype/*.sln
/Prototype/*.suo
/Prototype/obj/Debug/*.txt
/Prototype/obj/Debug/*.dll
/Prototype/obj/Debug/*.pdb
/Prototype/obj/Debug/*.cache
